:root {
  --bg-color: #000000;
  --fg-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

html {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: monospace;
  color: var(--fg-color);
}

.idlelife {
  font-size: 100px;
}

.splash h1 {
  margin: 0 0 50px 0;
  text-align: center;
}

.login-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.login-form label {
  height: 24px;
  line-height: 16px;
  font-size: 16px;
  margin-right: 8px;
  display: inline-block;
  border-bottom: 7px solid transparent;
}

.login-form input[type="text"] {
  background: inherit;
  border: 0;
  border-bottom: 2px solid var(--fg-color);
  margin-right: 8px;
  font-size: 16px;
  height: 31px;
  outline: none;
}

.login-form input[type="submit"] {
  font-size: 16px;
  border: 2px solid var(--fg-color);
  padding: 3px;
  background: inherit;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.loading-screen {
  height: 100%;
}

.loading {
  margin-top: 50vh;
  transform: translateY(-50%);
}

.fade-1, .fade-2, .fade-3 {
  opacity: 0;
  animation: fadein .67s alternate infinite;
}

.fade-2 {
  animation-delay: .33s;
}

.fade-3 {
  animation-delay: .67s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#character-panel {
  position: absolute;
  left: -100%;
}

#character {
  position: absolute;
}