:root {
  --bg-color: #000000;
  --fg-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

input {
  font-family: 'Roboto Mono', monospace;
  color: var(--fg-color);
}

.idlelife {
  font-size: 100px;
}

.splash h1 {
  margin: 0 0 50px 0;
}

.login-form label {
  line-height: 16px;
  font-size: 16px;
  margin-right: 8px;
  vertical-align: bottom;
  display: inline-flex;
  align-items: flex-end;
  border-bottom: 7px solid transparent;
}

.login-form input[type="text"] {
  background: inherit;
  border: 0;
  border-bottom: 2px solid var(--fg-color);
  margin-right: 8px;
  font-size: 16px;
  height: 28px;
  outline: none;
}

.login-form input[type="submit"] {
  font-size: 16px;
  border: 2px solid var(--fg-color);
  padding: 3px;
  background: inherit;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}