* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, main, .App {
  height: 100%;
}

.App {
  display: grid;
  grid-template-areas: 'e e e'
                       'a b c'
                       'a d c';
  grid-template-rows: 50px 8fr 2fr;
  grid-template-columns: 1fr 4fr 1fr;
}

.list-container {
  list-style: none;
  padding: 8px;
  margin: 0;
}

.list-item-farm {
  border: 1px solid #000000;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.list-item-farm:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.list-item-farm:not(:last-of-type) {
  margin-bottom: 8px;
}

.list-item-farm .time {
  color: #808080;
  font-size: 80%;
}

.list-item-farm:not(.disabled):hover .time {
  color: #e1e8f0;
}

.list-item-farm.disabled {
  background-color: #e1e8f0;
  cursor: auto;
  color: #808080;
}

.garden-panel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 8px 8px;
  padding: 8px;
}

.farm-plot {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: relative;
  background-color: white; /* TODO: remove when unnecessary */
  border: 1px solid black;
  padding: 4px;
  cursor: pointer;
}

.farm-plot.selected {
  box-shadow: 0 0 8px black;
}

.farm-plot .time-left {
  justify-self: center;
  margin-top: 4px;
  font-size: 50px;
  line-height: 50px;
}

.farm-plot .collect {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.farm-plot .collect:hover {
  background-color: black;
  color: white;
  padding: 0 4px;
  border-radius: 3px 3px 0 0;
}